<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Discgolfbag</title>
</head>
<body>
<h1>Welcome to My Discgolfbag!</h1>
<a href="/" class="home-link">Hem</a>

    <br>
    <br>

    <table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Speed</th>
        <th>Glide</th>
        <th>Turn</th>
        <th>Fade</th>
        <th>Weight</th>
    </tr>
  </thead>
        <tbody>
         <tr>
             <td>{{disc[1]}}</td>
             <td>{{disc[2]}}</td>
             <td>{{disc[3]}}</td>
             <td>{{disc[4]}}</td>
             <td>{{disc[5]}}</td>
             <td>{{disc[6]}}</td>
         </tr>
        </tbody>
</body>
</html>